.div-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-square {
    height: 50px;
    width: 50px;
    border: 3px solid powderblue;
    background-color: black;
    margin: 1px;
    
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
}

.divSpanText {
    visibility: hidden;
}

.div-square:hover .divSpanText {
    visibility: visible;
}

body {
    background-color: deepskyblue;
}

button {
    border: outset indianred;
    height: 56px;
    width: 56px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: orangered;
    text-shadow: -1px 3px 4px darkred;
    box-shadow: inset rgb(38 57 77) 0px 17px 27px -11px;
    /* margin-bottom: 25px; */
    color: lightgray;
    flex-wrap: wrap;
    flex-direction: row;
}